body{
    font-family: monospace;
    text-transform: uppercase;
    font-weight: 600;
}
.container{
    display: flex;
    height: 100px;
    flex-basis: 33.3%;
    align-items: center;
    justify-content: center;

}
.left{
    display: flex;
    height: 100px;
    flex-basis: 33.3%;
    justify-content: flex-start;
    box-sizing: border-box;
    align-items: center;
}
.right{
    display: flex;
    height: 100px;
    flex-basis: 33.3%;
    box-sizing: border-box;
    justify-content: flex-end;
    align-items: center;
    
}
.item{
    padding: 10px;
    flex-basis: 50px;
    height: 20px;
    text-align: center;
    background-color: white;
    color: blue;
    margin: 10px;
    font-size: large;
}
.logo{
    color: orange;
    font-size: 48px;
    font-family: tomato;
    padding: 4px 32px;
    background-color: white;
    font-weight: 900;
}
.main{
    display: flex;
    height: 100px;
    background-color: antiquewhite;
}